<%= render "shared/second-header" %>
<div class="items-sell-contents">
  <header class="items-sell-header">

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">トピックを入力</h2>

    <%= render partial: "form" %>
  </div>
</div>
<%= render "shared/second-footer" %>