.purchase-btn {
  width: 120px;
  background: #4f3925;
  text-align: center;
  border-radius: 20% 20%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  border: solid ;
  border-color:rgb(137, 83, 12) ;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 80%;
}

.preview-window {
  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 5% 5%;
  bottom: 300px;
  position: fixed;
  padding: 15px;
}
