a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.title-contents {
  width: 100vw; height: 700px;
  background-image: image-url('nichetalk-header01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}


/* //3つのルール部分 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

// .select-reason-contents>.title::after {
  // content: '';
  // width: 70px;
  // height: 4px;
  // background-color: #3ccace;
  // position: absolute;
  // bottom: -10px;
  // left: 50%;
  // transform: translateX(-50%);
// }

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color:#644d3d;
  color: #fff;
  border: double 3px #5989cf;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-blue-text {
  color:#1c0f4d;
  font-weight: bold;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //3つのルール部分 */

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.item-img-box {
  width: 100%;
  height: auto;
  // border-radius: 15px;
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 100%;
  height: auto;
  border: 1px solid white;
  border-radius: 15px 15px 15px 15px;
}

.item-img1 {
  width: 100%;
  height: auto;
  border: 1px solid white;
  border-radius: 15px 15px 0 15px;
}

.item-img2 {
  width: 100%;
  height: auto;
  border: 1px solid white;
  border-radius: 15px 15px 15px 0;
}

.item-img3 {
  width: 100%;
  height: auto;
  border: 1px solid white;
  border-radius: 15px 0 15px 15px;
}

.item-img4 {
  width: 100%;
  height: auto;
  border: 1px solid white;
  border-radius: 0 15px 15px 15px;
}

.user-name {
  color: black;
  font-size: 2vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-text {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */