.second-header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  min-width: 800px;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 185px;
  height: 49px;
}